/* .square {
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
} */

.square {
  background: rgb(243, 242, 242);
  border: 2px solid #999;
  float: left;
  font-size: 3.5rem;
  height: 7rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 7rem;
}
.square:hover {
  background-color: #fff;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
}

.salute {
  font-size: 5rem;
  display: flex;
  justify-content: center;
}

.salute div {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* background-color: #282c34; */
